### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)

In [3]:
#Delete at the end
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [15]:
total_players = len(purchase_data_df["SN"].unique())
player_display_df = pd.DataFrame({"Total Players": [total_players]})
player_display_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
unique_items = len(purchase_data_df["Item Name"].unique())
avg_price = round(purchase_data_df["Price"].mean(),2)
num_items = purchase_data_df["Purchase ID"].count()
tot_revenue = "${:,.2f}".format(purchase_data_df["Price"].sum())


summary_display = pd.DataFrame({"Number of Unique Items": unique_items, "Average Price": "$" + str(avg_price), "Number of Purchases": num_items, "Total Revenue": [tot_revenue]})
summary_display

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
remove_dup = purchase_data_df.drop_duplicates(subset=["SN"], keep="first")

# Calculate total per gender without duplicates
total_gender_df = pd.DataFrame(remove_dup["Gender"].value_counts())

# Changing column header to total count
total_gender_df = total_gender_df.rename(columns={"Gender": "Total Count"})

# Adding percentage per gender
total_gender_df["Percentage of Players"] = (total_gender_df["Total Count"]/total_players).map("{:.2f}%".format)
total_gender_df

                       Total Count Percentage of Players
Male                           484                 0.84%
Female                          81                 0.14%
Other / Non-Disclosed           11                 0.02%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
grouped_df = purchase_data_df.groupby("Gender")

purchase_count = grouped_df["SN"].count()
avg_price_gender = (grouped_df["Price"].mean()).map("${:.2f}".format)
total_price_gender = grouped_df["Price"].sum()
avg_total_price = (total_price_gender/total_gender_df["Total Count"]).map("${:,.2f}".format)

final_gender_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_price_gender,"Total Purchase Value": (total_price_gender).map("${:,.2f}".format), "Avg Total Purchase per Person": avg_total_price})
final_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [102]:

bins = [0, 9, 14, 19, 24, 29, 35, 39, 150]
group_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_group_df = pd.DataFrame(remove_dup)

age_group_df["Age Group"] = pd.cut(age_group_df["Age"], bins, labels=group_age)

grouped_age = age_group_df.groupby("Age Group")
total_per_age = grouped_age["SN"].count()
percentage_per_age = (total_per_age / total_players *100).map("{:.2f}%".format)

age_demographics_df = pd.DataFrame({"Total Count": total_per_age, "Percentage of Players": percentage_per_age})
age_demographics_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               62                10.76%
35-39               21                 3.65%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame